*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #333333;
    color: #B1A592;
    line-height: 1.6;
    padding: 30px;
}

/* -------nav------------ */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #B1A592;
    padding: 3px 10px;
    border-radius: 50px;
}
.nav ul{
    list-style: none;
    display: flex;
    font-weight: 500;
    gap: 15px;
}
.nav ul li:first-child{
    padding: 0.5rem 10rem;
    background-color: #343124;
}
.nav ul li{
    border:1px solid #B1A592;
    padding: 10px 30px;
    border-radius: 50px;
}
.nav ul li:hover{
    background-color: #B1A592;
    color: #333333;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.nav span a{
    color: #B1A592;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid #B1A592;
    padding: 10px 30px;
    border-radius: 50px;
}
.nav span a:hover{
     background-color: #B1A592;
    color: #333333;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}


/* --------------main section------------ */


.main-section{
   display: grid;
   /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto;
   gap:15px;
}


/*----- CONGREVE STREET ----*/


.CONGREVE-STREET{
    position: relative;
    background-color: #DFD6C5;
    color: #333333;
    padding: 20px;
    border-radius: 30px;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 3
}
.title{
    border: 1px solid #333333;
    padding: 0 3px;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    font-weight: 500;
    margin: 1.5rem;
}
.heading-content{
    margin: 0 1.5rem;
    font-size: 2rem;
}
.underline{
    text-decoration: underline;
}


/* .CONGREVE-STREET img{
   width: 100%;
   height: 80%;
   margin: 1.5rem auto;
   object-fit: cover;
   border-radius: 30px;
   height: 73%;
} */
.box{
      width: 100%;
      height: 75%;
      overflow: hidden;
      border-radius: 15px;
    }

    .box img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s ease;
    }

    .CONGREVE-STREET:hover img{
      transform: scale(1.1);
    }

.footer{
    display: flex;
    /* width: 100%; */
    padding: 1.5rem;
    margin-left: -20px;
    margin-right: -20px;
    font-weight: 500;
    font-size: .8rem;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(51, 51, 51, 0.5);
}
#congreve-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.CONGREVE-STREET:hover .Arrow i{
  animation: moveArrow  ease forwards;
}

/*----- EUROPEANA ----*/

.EUROPEANA{
    position: relative;
    background-color: #8E886D;
    color: #333333;
    padding: 20px;
    height: 50vh;
    border-radius: 30px;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    
}
.para{
    margin-top: 15px;
    font-size: 0.8rem;
    line-height: 1.4;
    font-weight: 500;
    padding: 0.8rem 0 0 1.5rem;
}
/* .EUROPEANA img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 30px;
    margin-top: 15px;
} */
.box1{
      width: 100%;
      height: 70%;
      overflow: hidden;
      border-radius: 15px;
    }

    .box1 img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s ease;
    }

    .EUROPEANA:hover img{
      transform: scale(1.1);
    }

#footer-bottom{
    position: absolute;
    width: 100%;
    bottom: 0;
    
}
.EUROPEANA:hover .Arrow i{
  animation: moveArrow  ease forwards;
}

/* ----------------Portrait-------------- */
.Portrait{
    position: relative;
    background-color: #916E58;
    color: #333333;
    padding: 20px;
    /* height: 50vh; */
    border-radius: 30px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}
/* .Portrait img{
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 30px;
    margin-top: 5px;
}    */
.box2{
      width: 100%;
      height: 40%;
      overflow: hidden;
      border-radius: 15px;
    }

    .box2 img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s ease;
    }

    .Portrait:hover img{
      transform: scale(1.1);
    }

#portrait-para{
    margin-left:1.5rem ;
    font-weight: 900;
    font-size: 3rem;
    display: inline-block;     
    position: relative;
    cursor: pointer;
}
#portrait-para::after{
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      height: 4px;
      width: 0;                
      background: #333333;
      transition: width 0.4s ease;
    }
.Portrait:hover #portrait-para::after{
      width: 40%;             
    }


#portrait-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.Arrow{
  width: 40px;        
  display: inline-block;
}

.Arrow i{
  display: inline-block;
  font-size: 1rem;
}

.Portrait:hover .Arrow i{
  animation: moveArrow  ease forwards;
}

@keyframes moveArrow{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(100%);
  }
}




/* ----------------EUROPEANA-2----------------- */
.EUROPEANA-2{
    position: relative;
    background-color: #B1A48E;
    color: #333333;
    padding: 20px;
    /* height: 50vh; */
    border-radius: 30px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    /* position: relative; */
}
/* .EUROPEANA-2 img{
    position: absolute;
    right: 10px;
    width: 20%;
    height: 20%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 15px;
} */
.box3{
      position: absolute;
    right: 10px;
    width: 20%;
    height: 20%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 15px;
    overflow: hidden;
    }

    .box3 img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s ease;
    }

    .EUROPEANA-2:hover img{
      transform: scale(1.1);
    }
#hc-2{
    margin-top: 10%;
}
#EUROPEANA-2-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}
#EUROPEANA-2-para{
    margin-top: 12%;
    padding:0.8rem;
    border-top: 3px solid #333333;
    border-bottom: 10px double #333333;
}
#EUROPEANA-2-para span{
    font-weight: 900;
    margin-left: 20%;
}

.EUROPEANA-2:hover .Arrow i{
  animation: moveArrow  ease forwards;
}


/* ----------------media-Query-------------- */


@media (max-width: 840px){
    .main-section{
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .CONGREVE-STREET, .EUROPEANA, .Portrait, .EUROPEANA-2{
        grid-column: auto;
        grid-row: auto;
    }
}

@media (max-width: 540px){
    .nav ul li:first-child{
        padding: 0.5rem 5rem;
    }
    .nav ul li{
        padding: 10px 15px;
    }
    .nav span a{
        padding: 10px 15px;
    }
}



